* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-rows: minmax(510px, auto);
}

.item {
    /* width: 100%; */
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
